<!-- views/partials/_header.ejs -->

<meta charset="UTF-8">
<title>Super Pawesome</title>

<link rel= "stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<style>
  body {padding-top: 50px; }
</style>
<%= username %>
<nav class = "navbar navbar-default" role="navigation">
<div class = "container-fluid">

  <div class ="navbar-header">
    <a class ="navbar-brand" href="#">
      <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
      EJS is FUN!!!!!!!
    </a>

    <ul class="nav navbar-nav">
      <!-- <li><a href="/">Home<a/></li>
      <li><a href="/about">About</a></li> -->


      <form  action="/login"method="POST" style="margin:150px;">
        <label for="username"> Login</label>
      <input id="name" type"=text" name="username" placeholder="enter username here">
      <input type="submit" value="send">
    </form>

    <br/>

    </ul>
  </div>
</div>
</nav>
