<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>
<body> <a href = "/urls/new">click here to create your own!</a>
<h1> List shortened URLS and Long URLs</h1>
  <% for (let shortUrl in urls) { %>
    <% var longUrl = urls[shortUrl] %>

    <li>

      <div> <%= shortUrl %> - <%= longUrl %> </div>


      <form method="POST" action="/urls/<%=shortUrl%>/delete">

        <button type="submit">Delete</button>
        <a href="/urls/<%= shortUrl %>">Edit</a>
        <br>
        <a href="/urls/new">click here to create your own!</a>

      </form>
    </li>
  <% } %>


 </body>
</html>