<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>
<body>
  <h2> Shortened URLs Only </h2>

  <ul>
    <%= shortURL %>
    <%= longURL %>
  </ul>
    <a href = "/">Link back Home</a>

</body>
</html>