<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header %>
</head>
<body>
  <h2> Shortened URLs=</h2>

  <ul>
    <%= shortURL %>
    <form method="POST" action="/urls/<%= shortURL%>/update">
      <input type="text" name="longURL" value ="<%=longURL%>">
      <button type="submit">Update</button>
    </form>
  </ul>
    <a href = "/">Link back Home</a>

</body>
</html>